[mysqld]
user=__user__
port=__port__
bind-address=__host__
character_set_server=utf8
skip-name-resolve
skip-host-cache
default-storage-engine=INNODB

max_connections=2048
max_allowed_packet=6M

datadir=__datadir__
socket=__socket__
pid_file=__pidfile__

innodb_buffer_pool_size=1024M
innodb_thread_concurrency=8
innodb_file_per_table=1
innodb_open_files=1000

server-id=1
read_only=0
log-bin=__log_bin__
log_slave_updates=1
binlog_format=MIXED
binlog-ignore-db=mysql 
binlog-ignore-db=test
binlog-ignore-db=information_schema

slow_query_log=on
long_query_time=5
slow-query-log-file=__log_slow__
log-error=__log_error__
relay-log=__log_relay__
[client]
default-character-set=utf8
